@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Lato:ital@1&family=Montserrat+Alternates:ital,wght@1,200&family=Pacifico&family=Roboto&family=Ubuntu+Mono:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 3rem;
    color: rgb(238, 11, 105);
    font-family: 'Pacifico', cursive;
}

.navbar-brand:hover {
    color: black;
}

.nav-item a {
    margin-right: 15px;
    margin-left: 15px;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    color: rgb(238, 11, 105);
}

.nav-item a:hover {
    color: rgb(238, 11, 105);
}

.heart,.bx{
    color:rgb(238, 11, 105) ;
    font-size: 1.1rem;
    cursor: pointer;
}
.main {
    background-image: url('img/copy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.main p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    color: rgb(238, 11, 105);

}

.main h1 {
    font-size: 5rem;
    font-weight: 900;
}

.btn2 {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(238, 11, 105);
    font-weight: bold;

}

.btn2:hover {
    border: 1px solid rgb(238, 11, 105);
    background: none;
    color: black;
}

.btnc {
    position: absolute;
    top: 50%;
    left: 36%;
    height: 53px;
    width: 40%;
    color: black;
    border: none;
    outline: none;
    background-color: white;
    font-family: 'Pacifico', cursive;
}

.btnc:hover {
    background-color: rgb(238, 11, 105);
    color: white;
    transition: all 0.4s;

}

.zoon-n-rotate {
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}


.zoon-n-rotate img {
    transition: transfrom .5s ease-in-out;

}

.zoon-n-rotate:hover img {
    transform: scale(1.5);
}

.zoon-m-rotate img {
    height: 500px;
}

.product h1 {
    font-weight: 800;
    font-size: 2.6rem;
    font-family: 'Pacifico', cursive;
}

.product {
    background-color: rgb(246, 243, 243);
}

.discount {
    height: 50px;
    width: 50px;
    background: rgb(238, 11, 105);
    border-radius: 50%;
    padding: 12px 5px;
    color: white;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.zoom-m-rotate {
    border-radius: 0;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}



.zoom-m-rotate img {
    transition: transfrom 5s ease-in-out;
}

.zoom-m-rotate img:hover {
    transform: scale(1.5);
}

.icon{
    color:rgb(238, 11, 105) ;
    font-size: 2.6rem;
}

#footer {
    background-color: black;
    font-family: 'Pacifico', cursive;
}

#footer a {
    /* text-decoration: none; */
    color: white;
    margin: 0;
    padding: 0;
    transition: all 0.4s;
}

#footer a:hover {
    color: rgb(238, 11, 105);
    padding-left: 5px;

}

.sub {
    height: 50px;
    width: 70%;
    background: transparent;
    outline: none;
    border: 1px solid white;
    color: white;
}

.copyright {
    text-align: center;
}